
<template name="component_bread">
	<div class="component_bread">
		<img src="{{imageSrc name}}" alt=":)" class="bread-img" />
		<div class="name">{{name}}</div>
		<div class="descripton">{{description}}</div>
		<div class="ingredients">Zutaten: {{ingredients}}</div>
		<div class="weight">Gewicht: {{weight}} {{unit}}</div>
		<div class="price">Preis: {{price}} €</div>
		<!-- {{# if currentUser}} -->
		<form action="quantity">
			Anzahl: <input type="number" min="1" step="1" name="amount"> 
			<input class="addToOrder" type="submit" value="Add to Order" />
			<input class="userId" type="hidden" value="{{ userId }}" />
		</form>
	<!-- 	{{else}}
			<div class="not-user">Please log in for Ordering!</div>
		{{/if}} -->
	</div>
</template>