<template name="component_footer">
    <footer>
        <div class="openHours">
            Öffnungszeiten:
            <div>Backtag ist jeden Dienstag von 09:00 bis 20:00 Uhr</div>
            <div>Mo, Mi - Sa nach Vereinbarung</div>
        </div>
        <div class="section-contact">
            {{# each contacts}} {{> component_footer_contact}} {{/each}}
        </div>
    </footer>
</template>

<template name="component_footer_contact">
    <div class="component_footer_contact">
        <!--tasks: Getreide/Milchvieh, Hofladen/Brotbacken-->
        <!-- <div class="task-field">{{task}}</div>  -->
        <div class="name">Martin, Siegfried und Annegret Dietz </div>
        <div class="street">Lindlein 7</div>
        <div class="town">74575 Schrozberg</div>
        <div class="phone-number">Telefon: 07935 241</div>
        <div class="mail">@mail: annegrets_briefkasten@web.de</div>
    </div>
</template>