<template name="component_order_item">
    <div class="component_order_item">
        <div classs="name"> {{name}}</div>
        <div class="amount"> Anzahl: {{amount}}</div>
        <div class="price"> Einzelpreis {{price}} €</div>
        <div class="subtotal"> Zwischensumme: {{subtotal}} € </div>
        <button class="btn-delete"><i class="fa fa-trash"></i>&times;</button>
        <input class="productId" type="hidden" value="{{ productId }}" />
        <input class="userId" type="hidden" value="{{ userId }}" />
    </div>
</template>
